
/*!
 * tags.css v1.0
 * Author Pandora
**/

/* tagcc,tagback */

/* æ–°çš„tagsæ ‡ç­¾ tags.css: tagcc,tagback */
.tagscc,
.tagsback,
.tagsgift {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-indent:0;
    cursor: default;
}

.tagscc {
    padding: 0 4px;
    background: #ff9614;
    color: #fff;
    height: 16px;
    line-height: 16px;
}

.tagsback,
.tagsgift {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-decoration: none;
}

.tagscc:empty,
.tagsback:empty {
    display: none;
}

.tagsback {
    border: 1px solid #73C7F9;
    color: #73C7F9;
}

.tagsback:hover {
    text-decoration: none;
    color: #73C7F9;
}

.tagsback em,
.tagsback i,
.tagsgift em,
.tagsgift i {
    font-size: 12px;
    display: inline-block;
    *display:normal;
    font-style: normal;
    font-weight: normal !important;
    overflow: hidden;
    height: 100%;
}

.tagsback em,
.tagsgift em {
    display: inline-block;
    padding: 0 2px;
    *float: left;
    height: 100%;
}

.tagsback em {
    background: #73C7F9;
    color: #fff;
}

.tagsback i,
.tagsgift i {
    padding: 0 3px;
    min-width: 24px;
    _width: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #73C7F9;
}

.tagsback {
    border-radius: 2px;
}

.tagsback-green {
    border-color: #91D959;
}
.tagsback-green em {
    background-color: #91D959;
}
.tagsback-green i {
    color: #91D959;
}
.tagsback-orange {
    border-color: #f80;
}
.tagsback-orange em {
    background-color: #f80;
}
.tagsback-orange i {
    color: #f80;
    vertical-align:top;
}


.tagsback-orange2 {
    border-color: #f90;
}
.tagsback-orange2 em {
    background-color: #f90;
}
.tagsback-orange2 i {
    color: #f90;
    vertical-align:top;
}

/*æ£•è‰²*/
.tagsback-brown {
    border-color: #CB9E6C;
}
.tagsback-brown em {
    background-color: #CB9E6C;
}
.tagsback-brown i {
    color: #CB9E6C;
    vertical-align:top;
}

.tagsback-time { position:relative; margin-left:20px;}
.tagsback-time dfn{ display: inline-block; width:16px; height:16px; position:absolute; left:-16px; top:-1px; background: url(../../../img/new_v/ob_search/combo.gif) no-repeat 0 -140px;}

.tagsgift,
.tagblue {
    border: 1px solid #ccddee;
    color: #17afe3;
}

.tagsgift:hover,
.tagblue:hover {
    text-decoration: none;
    color: #17afe3;
}

.tagsgift em,
.tagblue em {
    background: #f0f5fc;
    color: #17afe3;
}

.tagsgift i,
.tagblue i {
    color: #17afe3;
}

/* tags101 çº¯è‰²æ ‡ç­¾ 101æ©™è‰²  102ç²‰çº¢  103çº¢è‰²  104ç»¿è‰² 105çŽ«çº¢  */
.tags101,
.tags102,
.tags103,
.tags104,
.tags105,
.tags106,
.tags107,
.tags108,
.tags109,
.tags110 {
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal !important;
    text-indent:0;
    cursor: default;

    padding: 0 4px;
    background: #ff9614;
    color: #fff;
    height: 16px;
    line-height: 16px;
    border-radius:3px;
}
.tags101{ background: #ff8800;} /* æ©™è‰² */
.tags102{ background: #fa65b0;} /* ç²‰çº¢ */
.tags103{ background: #ff4444;} /* çº¢è‰² */
.tags104{ background: #6bbd00;} /* ç»¿è‰² */
.tags105{ background: #dd1177;} /* çŽ«çº¢ */
.tags106{ background: #88BBEE;} /* æ·¡è“ */
.tags107{ background: #f66;} /*  */
.tags108{ background: #ff706f;} /*  */
.tags109{ background: #f90;} /*  */
.tags110{ background: #f90;} /*  */

/* tagsèƒŒæ™¯ */
.tags201,
.tags301,
.tags302 {
    background: url(../../../img/new_v/ob_search/combo.gif) no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-indent: 0;
}

/* tags201 ä¿ƒé”€å¤§ICON-æ©™è‰² */
.tags201 {
    width: 72px;
    height: 26px;
    line-height: 26px;
    margin: 0 0 8px 0;
    padding: 0 0 9px 0;
    overflow: hidden;
    white-space: nowrap;
    background-position: -32px -136px;
    font-size: 12px;
    color: #ee6600;
    text-align: center;
    text-indent: 0;
    top:0 !important;
}

/* tags301 é¡¹ç›®tags 301è¶…çº§è‡ªç”±è¡Œ 302å¼€å¿ƒé©´è¡Œ */
.tags301,
.tags302 {
    display:inline-block;
    margin:0 2px;
    height: 17px;
    line-height: 17px;
    width: 76px;
    overflow: hidden;
    font-size: 12px;
    text-indent: -9999px;
}

.tags301{ background-position: -190px 0; width: 88px;}
.tags302{ background-position: -190px -17px; width: 76px;}



/* .tags æ ‡ç­¾å†…ä½¿ç”¨ arial å­—ä½“åž‚ç›´å±…ä¸­è¡¨çŽ°å¾ˆå¥½
 * author: linjianfeng@baixing.com
 */
.tags {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-weight: normal;
    padding: 0 3px;
    padding: 1px 3px 0\9;
    background: #eee;
    margin: 0 3px;
    border-radius: 2px;
    color: #888 !important;
}
.tags-lightblue,
.tags-blue,
.tags-green,
.tags-red,
.tags-orange,
a.tags:hover {
    color: #fff !important;
}
.tags-lightblue { background: #74C8FA; }
.tags-blue      { background: #08c; }
.tags-green     { background: #5ba533; }
.tags-red       { background: #ff444f; }
.tags-orange       { background: #f80; }
a.tags:hover {
    background: #888;
    text-decoration: none;
    color: #fff !important;
}


/* ä¸Žæ–‡æœ¬çš„åž‚ç›´å¯¹é½é—®é¢˜ */
[class^="tags"],
[class*=" tags"],
.tagscc,
.tagsback,
.tagsgift,
.tags101,
.tags102,
.tags103,
.tags104,
.tags105,
.tags106,
.tags107,
.tags108,
.tags109,
.tags110,
.tags301,
.tags302 {
    vertical-align: middle ;
    font-family: "Arial", "PingFang SC", "SimSun", serif;
    /*
    vertical-align: middle;
    position: relative;
    top: -1px;
    *top: 1px; */
}



/* tagsæµ‹è¯• */
.testtags {
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-indent:0;
    cursor: default;
    zoom: 1;
    vertical-align:middle;
}

.testtags {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-decoration: none;
}


.testtags {
    border: 1px solid #ff9614;
    color: #ff9614;
    *zoom:1;
    overflow:hidden;
}
.testtags{ display:inline-block; font-weight:normal; font-style:normal; height:30px; line-height:30px;}
.testtags em,
.testtags i{
    font-size: 12px;
    display: inline-block;
    font-style: normal;
    font-weight: normal !important;
    overflow: hidden;
    height: 100%;
    *zoom:1;
}



.testtags em {
    display: inline-block;
    padding: 0 2px;
    *vertical-align: top;
}

.testtags em {
    background: #ff9614;
    color: #fff;
}

.testtags i {
    padding: 0 3px;
    min-width: 30px;
    _width: 30px;
    text-align: center;
    color: #ff9614;
}

.tagsback-app{ display:inline-block !important; height:14px; line-height:14px; padding:0 5px 0 13px; color:#fff !important; background: url(../../../img/new_v/ob_search/combo.gif) no-repeat -120px -163px #f80; border:#f80 solid 1px; overflow:hidden;}
.tagsback-app span{ }

body .tagsback-app2{ border-color:#f80;}
body .tagsback-app2 em{  padding-left:14px; background: url(../../../img/new_v/ob_search/combo.gif) no-repeat -120px -163px #f80;}
body .tagsback-app2 i{ color:#f80; min-width:15px;}

/*çº¢åŒ…*/
.tagsback-bonus {
    border-color: #ff6151;
}

.tagsback-bonus em {
    padding-left:13px; background: url(../../../img/new_v/ob_search/combo.gif) no-repeat 0px -181px #ff6151;
}

.tagsback-bonus i {
    color: #ff6151;
    min-width: auto;
}

.tags-lv-high,
.tags-lv-middle,
.tags-lv-boon {
    cursor: default;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    border-radius: 2px;
}

.tags-lv-high i,
.tags-lv-middle i,
.tags-lv-boon i {
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../../../img/lv/tags.png);
}

.tags-lv-high em,
.tags-lv-middle em,
.tags-lv-boon em {
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    padding: 0 4px;
    line-height: 14px;
}

.tags-lv-high {
    background-color: #9f8bf1;
    border: 1px solid #9f8bf1;
}

.tags-lv-middle {
    background-color: #6fa2f8;
    border: 1px solid #6fa2f8;
}

.tags-lv-boon {
    background-color: #8cce58;
    border: 1px solid #8cce58;
}

.tags-lv-high i {
    background-position: 0 0;
}

.tags-lv-middle i {
    background-position: -20px 0;
}

.tags-lv-boon i {
    background-position: -40px 0;
}

.tags-lv-high em {
    color: #9f8bf1;
}

.tags-lv-middle em {
    color: #6fa2f8;
}

.tags-lv-boon em {
    color: #8cce58;
}